<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--Permission to send notification for Android 13+-->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <!--Permission to setting exact notifications-->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <!--Permission to wake the device from sleep-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--Permission to show an app on top of another app-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!--Permission to foreground service-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!--Permission to internet-->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.NewsApplication"
        tools:targetApi="31">
        <!--Receiver of notifications-->
        <receiver
            android:name=".notifications.NotificationsBuilderModel"
            android:enabled="true" />
        <!--Stopwatch service-->
        <service
            android:name=".service.StopwatchService"
            android:enabled="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.NewsApplication">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>